div.inside{
    margin: auto auto ;
    width: 411px;
    /* height: calc(100% - 15px); */
    height:707px;
    /* height: 100vh; */
    border: 3px solid #999;
    border-radius: 5px;
}

.outside{
    height: 100vh;
    align-items: center;
    display: flex;
}
